// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    h1 {
        color: #7f6599;
        font-size: 2.2rem !important;
        font-weight: 700 !important;
    }

    h2 {
        color: #9a77bd;
        font-size: 1.9rem !important;
    }

    h3 {
        color: #9a77bd;
        font-size: 1.5rem !important;
    }

    h4 {
        color: #9a77bd;
        font-size: 1.4rem !important;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Space Mono', sans-serif;
    }

    h2,
    h3,
    h4 {
        font-style: italic;
        font-weight: 400 !important;
    }
}

body {
    padding: 2rem !important;
    background-color: rgba(250, 250, 250, 1);
    // font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #0d0d0d;
    text-decoration: underline;

    &:visited {
        color: #0d0d0d;
    }

    &:hover {
        color: #7f6599;
    }
}

hr {
    border-top: 2px solid #7f6599;
    border-bottom: none;
}

.highlight {
    background-color: #fffcfb !important;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
    background-color: #fffcfb !important;
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: 6px dashed #7f6599;

    a {
        text-decoration: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.site-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #0d0d0d;
    font-family: 'Space Mono', sans-serif;

    &:hover {
        text-decoration: none;
    }

    .site-title-icon {
        font-size: 3rem;
        margin: 0;
    }

    .site-title-text {
        margin-left: 1rem;
        line-height: 1;
        color: #0d0d0d;

        .title-text {
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            font-style: italic;
            margin: 0;
            padding: 0;
        }

        .subtitle-text {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
    }
}

nav {


    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;

        li {
            text-decoration: underline;
            text-decoration-color: #cfcfcf;
            margin: 0 10px;
        }
    }
}

table {
    display: table !important;
}
